{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
